body {
    margin: 0;
    background-color: #ffffff;  /* changed from dark to white */
    color: #000;                /* text color black for readability */
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
     color: #333;                /* softer text color for white bg */
    text-align: center;
}

#piechart {
    width: 600px;
    height: 600px;
}
